#fondo-body{
    background-color: #dcd8cd;
}

.fondo-imagen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/libreria.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;    
}

.fondo-oscuro {
    background-color: #353a40;
}